<div class="banner">
  <div class="slogan-container col-6">
    <h1>There's A Bullet For Everyone. And A Time. And A Place.</h1>
  </div>
</div>
<div class="big-height">
<div class="container"%>

  <div class="icons">
    <div id="anchor-div" style="display: none;">
    </div>
    <ul>
      <%= link_to hitmen_path(query: '', anchor: "anchor-div"), class: "all" do %>
        <li><i class="fa-solid fa-xmark"></i></li>
      <% end %>
      <%= link_to hitmen_path(query: 'gun', anchor: "anchor-div"), class: "gun" do %>
        <li><i class="fa-solid fa-gun"></i></li>
      <% end %>
      <%= link_to hitmen_path(query: 'punch', anchor: "anchor-div"), class: "punch" do %>
        <li><i class="fa-solid fa-hand-back-fist"></i></li>
      <% end %>
      <%= link_to hitmen_path(query: 'car', anchor: "anchor-div"), class: "car" do %>
        <li><i class="fa-solid fa-car-side"></i></li>
      <% end %>
      <%= link_to hitmen_path(query: 'superpower', anchor: "anchor-div"), class: "superpower" do %>
        <li><i class="fa-brands fa-superpowers"></i></li>
      <% end %>
      <%= link_to hitmen_path(query: 'knife', anchor: "anchor-div"), class: "knife" do %>
        <li><i class="fa-solid fa-marker"></i></li>
      <% end %>
      <%= link_to hitmen_path(query: 'fatality', anchor: "anchor-div"), class: "fatality" do %>
        <li><i class="fa-solid fa-skull-crossbones"></i></li>
      <% end %>
      <%= link_to hitmen_path(query: 'poison', anchor: "anchor-div"), class: "poison" do %>
        <li><i class="fa-solid fa-soap"></i></li>
      <% end %>
    </ul>
  </div>

  <div class="border my-3 rounded border-danger"></div>

  <div class="form-container" id="form-style" style="display: none;">
    <%= form_with url: hitmen_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "input a method"%>
      <%= submit_tag "Search", class: "btn btn-primary"%>
    <% end %>
  </div>

  <div class="cards">
    <% @hitmen.each do |hitman| %>
      <div class="card">
      <!-- Cloudinary begining -->

        <%= render "layouts/cloudinary", place_holder: hitman %>

      <!-- Cloudinary end -->
        <div class="rating">
          <%# <p><%=hitman.rating<i class="fa-solid fa-star"></i></p> %>
        </div>
        <div class="content">
          <div class="border m-auto rounded"></div>
            <h3><strong><%= link_to hitman.name.capitalize, hitman_path(hitman) %></strong></h3>
            <div class="desc-price">
              <p><%= "£#{hitman.price.to_i}" %></p>
              <%# <% case %>
              <%# when hitman.method == "gun" then  %>
              <p><%= hitman.method %></p>
            </div>
          <div class="border m-auto rounded"></div>
          <%# <%= link_to 'Delete', hitman_path(hitman), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
