<div class="container" style=" margin-top: 6%; width: 600px" >
  <%= simple_form_for @hitman do |f| %>
    <div class="input-box my-3">
      <%= f.input :name%>
    </div>
    <div class="input-box my-3">
      <%= f.input :price %>
    </div>
    <div class="input-box my-3">
      <%= f.input :method, collection: %w[gun punch car superpower knife fatality poison] %>
    </div>
    <div class="input-box my-3">
      <%= f.input :description %>
    </div>
    <div class="input-box my-3">
      <%= f.input :photo, as: :file %> <!-- To upload profile photo -->
    </div>
    <div class="button-25">
      <%= f.button :submit %>
    </div>
  <% end %>

  <a href="javascript:history.back()"><i class="fa-solid fa-arrow-left text-danger"></i></a>
</div>
