<div class="profile-banner">
  <div class="profile-img-container">
  <!-- Cloudinary begining -->
    <% if @hitman.photo.attached? %>
      <%= cl_image_tag @hitman.photo.key %>
    <% else %>
      <%= image_tag "logo.png" %>
    <% end %>
  <!-- Cloudinary end -->
  </div>
</div>
<div class="buttons-profile">
  <% unless current_user.nil? %>
  <div class="buttons-profile">
    <div class="two-buttons">
      <button class="button-24" role="button">
        <%= link_to "Add a booking", new_hitman_booking_path(@hitman) %>
      </div>
        <% @hitman.bookings.each do |booking| %>
        <div class="buttons-profile">
          <button class="button-24" role="button">
            <%= link_to "Add a review", new_hitman_booking_review_path(@hitman, booking) %>
        </div>
    </div>
    <%end%>
<% end %>
</div>
<div class="profile-info-container">
  <div class="killing-method-icons col-4">
    <h1>Method of Killing</h1>
    <i class="fa-solid fa-gun"></i>
  </div>
  <div class="description col-8">
    <h1>Description</h1>
    <p style="font-size: 150%;" ><%= @hitman.description %></p>
  </div>
</div>




<div class="review-content">
  <div class="card-product-reviews">
    <div class="scroll-reviews" style="overflow-y: scroll; height:400px;">
      <% @hitman.reviews.each do |c| %>
        <div class="each-review">
          <p><%= c.comment.capitalize %></p>
          <p><%= c.rating %> <i style="color: #EF233C;" class="fa-solid fa-star " ></i> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
