<div class="navbar border border-danger">
NAVBAR
</div>

<div class="profile-banner">
  <%= link_to hitmen_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
</div>

<div class="profile-container">
<!-- Cloudinary begining -->

  <%= render "layouts/cloudinary", place_holder: @hitman %>

<!-- Cloudinary end -->


  <p class="profile-name">
    <%= @hitman.name %>
  </p>

  <div class="killing-method-icons">
    <i class="fa-solid fa-shield-halved"></i>
    <i class="fa-solid fa-ghost"></i>
    <i class="fa-solid fa-campfire"></i>
  </div>


</div>

<p><%= @hitman.description %></p>

<%# <%= link_to "View Bookings", hitman_bookings_path(@hitman) %>
<%= link_to "Add a booking", new_hitman_booking_path(@hitman) %>
<%= link_to "Edit", edit_hitman_path(@hitman) %>
