<div class="profile-banner">
  <div class="profile-img-container">
  <!-- Cloudinary begining -->
    <% if @hitman.photo.attached? %>
      <%= cl_image_tag @hitman.photo.key %>
    <% else %>
      <%= image_tag "logo.png" %>
    <% end %>
  <!-- Cloudinary end -->
  </div>
</div>
<div class="buttons-profile">
  <button class="button-24" role="button">
    <%= link_to "Add a booking", new_hitman_booking_path(@hitman) %>
  </button>
</div>
<div class="profile-info-container">
  <div class="killing-method-icons col-4">
    <h1>Method of Killing</h1>
    <i class="fa-solid fa-gun"></i>
  </div>
  <div class="description col-8">
    <h1>Description</h1>
    <p><%= @hitman.description %></p>
  </div>
</div>

<p><%= @hitman.description %></p>
<% unless current_user.nil? %>
  <%= link_to "Add a booking", new_hitman_booking_path(@hitman) %>
  <%= link_to "Edit", edit_hitman_path(@hitman) %>
  <% @hitman.bookings.each do |booking| %>
    <%= link_to "Add a review", new_hitman_booking_review_path(@hitman, booking) %>
  <%end%>
<% end %>

<div class="card-product-reviews">
  <div class="scroll-reviews" style="overflow-y: scroll; height:400px;">
    <% @hitman.reviews.each do |c| %>
      <div class="each-review">
        <p><%= c.comment.capitalize %></p>
        <p><%= c.rating %></p>
      </div>
    <% end %>
  </div>
</div>
