<h1><%= @hitman.name %></h1>

<p><%= @hitman.description %></p>

<%= link_to "View Bookings", hitman_bookings_path(@hitman) %>
<%= link_to "Add a booking", new_hitman_booking_path(@hitman) %>
<%= link_to "Edit", edit_hitman_path(@hitman) %>
<%= link_to "Back", hitmen_path %>
