<div class="profile-banner">
  <div class="profile-img-container">
    <%= render "layouts/cloudinary", place_holder: @hitman %>
  <h1><%= @hitman.name.capitalize %></h1>
  </div>
</div>
<div class="buttons-profile">
  <button class="button-24" role="button">
    <%= link_to "Add a booking", new_hitman_booking_path(@hitman) %>
  </button>
</div>
<div class="profile-info-container">
  <div class="killing-method-icons col-4">
    <h1>Method of Killing</h1>
    <i class="fa-solid fa-gun"></i>
  </div>
  <div class="description col-8">
    <h1>Description</h1>
    <p><%= @hitman.description %></p>
  </div>
</div>
<%# <%= link_to "View Bookings", hitman_bookings_path(@hitman) %>
