<!DOCTYPE html>
<html>
  <head>
    <title>HitWho</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="content-container">
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon overlay" data-controller="navbar">
          <div class="container-fluid">
          <a class="navbar-brand" href="/hitmen">
            <%= image_tag "logo.png", class: 'logo'%>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <% if current_user %>
                <li class="nav-item">
                  <p><%= current_user.username.capitalize %></p>
                </li>
              <li class="nav-item dropdown">
                  <!-- Cloudinary begining -->

                    <%# <%= render "layouts/cloudinary", place_holder: current_user, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

                  <!-- Cloudinary end -->

                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <%= link_to "My Profile", user_path(current_user), class: "dropdown-item" %>
                    <% link_to "My Hitmen", "#", class: "dropdown-item" %>
                    <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                  </div>
                </li>
              <% else %>
                  <li class="nav-item">
                    <%= link_to "Login", new_user_session_path %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Le Wagon
      </div>
    </div>
  </body>
</html>
